.css-1qhepju-MuiFormLabel-root-MuiInputLabel-root {
    color:#d5d9e0 
}
.css-1qhepju-MuiFormLabel-root-MuiInputLabel-root{
    color:#d5d9e0 
}

.usuario-sitci{
    width: 100%;
}

#user-sitci-label{
    color:#d5d9e0 !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #d5d9e0 !important;
}

.password-sitci-label{
    color:#d5d9e0 !important;
}

#outlined-adornment-password{
    color:#d5d9e0 !important;
}